<div class="row m-4">
  <div class="card shadow-lg" style="width: 18rem">
    <img [src]="imageUrl" class="card-img-top" alt="image" />
    <div class="card-body">
      <h5 class="card-title">{{ title }}</h5>
      <div class="username bg-light p-2">
        <small class="fw-bold fst-italic text-lowercase">@{{ username }}</small>
      </div>
      <p class="card-text">{{ content }}</p>
      <a href="#" class="btn btn-warning border border-0 text-light shadow-sm"
        >ORDER</a
      >
    </div>
  </div>
</div>
